<div *ngIf="viewMode; else editable">
  <div *ngIf="currentBook.id">
    <h4>Book</h4>
    <div>
      <label><strong>Title:</strong></label> {{ currentBook.title }}
    </div>
    <div>
      <label><strong>Autor:</strong></label>
      {{ currentBook.idAutor?.name }}
    </div>

    <a

      routerLink="/books/{{ currentBook.id }}"
    >
      Edit
    </a>
  </div>

</div>

<ng-template #editable>
  <div *ngIf="currentBook.id" class="edit-form">
    <h4>Biblioteca</h4>
    <form>
      <div class="form-group">
        <label for="name">Book</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentBook.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="name">Autor</label>
        <select class="form-control">
          <option
            *ngFor="let opt of autors"
            [selected]="opt.document === currentBook.idAutor?.document "
            [value]="opt"
          >
            {{ opt.name }}
          </option>
        </select>



      </div>

      <select [(ngModel)]="selectedObject" name="selectedObject">
        <option
             *ngFor="let autor of autors"
             [selected]="autor.id === currentBook.idAutor?.document "
          >
          <option
             *ngFor="let autor of autors"
             [selected]="autor"
          >
             {{autor.name}}
        </option>
      </select>

    </form>


    <button class="badge badge-danger mr-2" (click)="deleteBook()"  style="background-color: red;">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      style="background-color: blue;"
      (click)="updateBook()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentBook.id">
    <br />
    <p>Acceso</p>
  </div>
</ng-template>
