<div *ngIf="viewMode; else editable">
  <div *ngIf="currentAutor.id">
    <h4>Autor</h4>
    <div>
      <label><strong>Name:</strong></label> {{ currentAutor.name }}
    </div>
    <div>
      <label><strong>Document:</strong></label>
      {{ currentAutor.document }}
    </div>

    <a

      routerLink="/autores/{{ currentAutor.id }}"
    >
      Edit
    </a>
  </div>

</div>

<ng-template #editable>
  <div *ngIf="currentAutor.id" class="edit-form">
    <h4>Biblioteca</h4>
    <form>
      <div class="form-group">
        <label for="name">Autor</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentAutor.name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="document">Document</label>
        <input
          type="text"
          class="form-control"
          id="document"
          [(ngModel)]="currentAutor.document"
          name="document"
        />
      </div>


    </form>


    <button class="badge badge-danger mr-2" (click)="deleteAutor()"  style="background-color: red;">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      style="background-color: blue;"
      (click)="updateAutor()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentAutor.id">
    <br />
    <p>Acceso</p>
  </div>
</ng-template>
